<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- <img src="../../../assets/img/plantilla.png" alt=""> -->
            <img src="{{data.card.url}}" alt="">
        </div>
        <div class="col-md-6 info-details">
            <h2>Name: {{data.card.name }}</h2>
            <h2>Capacity: {{data.card.capacity }}</h2>
            <h2>Clan: {{data.card.clans }}</h2>
            <h2>Disciplines: {{data.card.disciplines }}</h2>
            <br>
            <p class="underline">Desciption:</p>
            <p>{{data.card.card_text }}</p>
            <h2>Sets: {{data.card._set }}</h2>
        </div>
    </div>
</div>
