<div class="container">
  <div>
    <div class="custom-card">
      <div class="image-fondo">
        <img src="" alt="" />
      </div>
      <h2 class="card-name">Nombre Vampiro</h2>
      <div class="icono-clan"></div>
      <img
        src="../../../../assets/img/icons-vtes/logo/logo-negro.png"
        alt=""
        class="icono-logo"
      />
      <div class="icono-capacidad">
        <p class="texto-capacidad">0</p>
      </div>
      <div class="iconos-disciplina1"></div>
      <div class="iconos-disciplina2"></div>
      <div class="iconos-disciplina3"></div>
      <div class="iconos-disciplina4"></div>
      <div class="iconos-disciplina5"></div>
      <div class="iconos-disciplina6"></div>
      <div class="iconos-disciplina7"></div>
      <div class="icono-blood">
        <img src="" alt="" />
      </div>
      <p class="texto-carta">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum eligendi
        doloremque labore culpa illo ipsum praesentium recusandae itaque? Quis quo
        dignissimos enim? Deleniti suscipit, sit a ea veritatis aspernatur facere.
      </p>
    </div>
  </div>

  <div class="spacio"></div>

  <div class="formulario">
      <form>
        <div class="mb-3">
          <input placeholder="Nombre" type="text" class="form-control" id="nombre" name="nombre">
        </div>

        <div class="mb-3">
          <input placeholder="Coste del Vampiro" min="1" max="11" type="number" class="form-control" id="coste" name="coste">
        </div>

        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen</label>
          <input type="file" class="form-control" id="imagen" (change)="onFileSelected($event)" accept="image/*" name="imagen">
        </div>

        <div class="mb-3">
          <label for="clan" class="form-label">Clan</label>
          <select class="form-select" id="clan" name="clan">
            <option>clan</option>
            <!-- <option value="brujah">Brujah</option>
            <option value="caitiff">Caitiff</option>
            <option value="malkavian">Malkavian</option>
            <option value="nosferatu">Nosferatu</option>
            <option value="toreador">Toreador</option>
            <option value="tremere">Tremere</option>
            <option value="ventrue">Ventrue</option>
            <option value="abominate">Abominate</option>
            <option value="assamite">Assamite</option>
            <option value="baali">Baali</option>
            <option value="daughters">Daughters</option>
            <option value="followerSet">Follower of Set</option>
            <option value="gangrel">Gangrel</option>
            <option value="gargoyle">Gargoyle</option>
            <option value="giovanni">Giovanni</option>
            <option value="nagaraja">Nagaraja</option>
            <option value="ravnos">Ravnos</option>
            <option value="salubri">Salubri</option>
            <option value="samedi">Samedi</option>
            <option value="truebrujah">True Brujah</option>
            <option value="akunanse">Akunanse</option>
            <option value="guruhi">Guruhi</option>
            <option value="ishtarri">Ishtarri</option>
            <option value="osebo">Osebo</option> -->
          </select>
        </div>

        <div class="mb-3">
          <label for="disciplines" class="form-label">Disciplinas</label>
          <select class="form-select" id="disciplines" name="disciplines">
            <option>Disciplines</option>
          </select>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="grupo" class="form-label">Grupo</label>
            <input type="number" min="1" max="7" class="form-control" id="grupo" name="grupo">
          </div>
          <div class="col-md-6">
            <label for="logo-color" class="form-label">Color logo</label>
            <select class="form-select" name="logo-color" id="logo-color">
              <option value="red">Rojo</option>
              <option value="green">Verde</option>
              <option value="blue">Azul</option>
              <option value="black">Negro</option>
              <option value="white">Blanco</option>
            </select>
          </div>
        </div>

        <div class="mb-3 description">
          <textarea placeholder="Descripción" class="form-control" id="description" name="description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary guardar">Guardar</button>
      </form>
    </div>
</div>
