<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark"
      aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark"
      aria-labelledby="offcanvasNavbarDarkLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <div class="space-y-2">

          <div class="disciplines">
            <div *ngFor="let discipline of disciplines">
              <img [src]="DisciplinesUrl + '/' + discipline + '.svg'" [id]="discipline" [title]="discipline"
                (click)="cambiarImagen(discipline)" [class.img-opacidad]="imagenSeleccionada !== discipline">
            </div>
          </div>

          <div class="row">
            <div class="col-6 capacity-min">
              <input type="number" class="form-control" min="1" max="11" placeholder="Capacidad minima">
            </div>
            <div class="col-6 capacity-max">
              <input type="number" class="form-control" min="1" max="11" placeholder="Capacidad maxima">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-6 clan">
              <select name="clan" id="clan" class="form-select">
                <option value="clan">Clan</option>
              </select>
            </div>
            <div class="col-6 sect">
              <select name="sect" id="sect" class="form-select">
                <option value="sect">Sect</option>
              </select>
            </div>
          </div>


          <div class="title">
            <h4>Title:</h4>
            <div class="content-title">
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-primogen" value="primogen">
                <label for="-titles-primogen">Primogen</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-prince" value="prince">
                <label for="-titles-prince">Prince</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-justicar" value="justicar">
                <label for="-titles-justicar">Justicar</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-inner circle" value="inner circle">
                <label for="-titles-inner circle">Inner Circle</label>
                </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-baron" value="baron">
                <label for="-titles-baron">Baron</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-1 vote" value="1 vote">
                <label for="-titles-1 vote">1 vote (titled)</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-2 votes" value="2 votes">
                <label for="-titles-2 votes">2 votes (titled)</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-bishop" value="bishop">
                <label for="-titles-bishop">Bishop</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-archbishop" value="archbishop">
                <label for="-titles-archbishop">Archbishop</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-priscus" value="priscus">
                <label for="-titles-priscus">Priscus</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-cardinal" value="cardinal">
                <label for="-titles-cardinal">Cardinal</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-regent" value="regent">
                <label for="-titles-regent">Regent</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-magaji" value="magaji">
                <label for="-titles-magaji">Magaji</label>
              </div>
              <div>
                <input name="titles" type="checkbox" class="form-checkbox" id="-titles-none" value="none">
                <label for="-titles-none">Non-titled</label>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-6 group">
              <select name="group" id="group" class="form-select">
                <option value="1">Grupo 1</option>
                <option value="2">Grupo 1-2</option>
                <option value="3">Grupo 2</option>
                <option value="4">Grupo 2-3</option>
                <option value="5">Grupo 3</option>
                <option value="6">Grupo 3-4</option>
                <option value="7">Grupo 4</option>
                <option value="8">Grupo 4-5</option>
                <option value="9">Grupo 5</option>
                <option value="10">Grupo 5-6</option>
                <option value="11">Grupo 6</option>
                <option value="12">Grupo 6-7</option>
                <option value="13">Grupo 7</option>
              </select>
            </div>

          </div>

          <div class="space-y-1">
            <div class="traits">Traits:</div>
            <div class="flex">
              <div class="w-7/12 space-y-0.5">
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-1 intercept" value="1 intercept">
                  <label for="-traits-1 intercept">+1 intercept</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-1 stealth" value="1 stealth">
                  <label for="-traits-1 stealth">+1 stealth</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-1 bleed" value="1 bleed">
                  <label for="-traits-1 bleed">+1 bleed</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-2 bleed" value="2 bleed">
                  <label for="-traits-2 bleed">+2 bleed</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-1 strength" value="1 strength">
                  <label for="-traits-1 strength">+1 strength</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-2 strength" value="2 strength">
                  <label for="-traits-2 strength">+2 strength</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-maneuver" value="maneuver">
                  <label for="-traits-maneuver">Maneuver</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-additional strike" value="additional strike">
                  <label
                    for="-traits-additional strike">Additional Strike</label>
                  </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-aggravated" value="aggravated">
                  <label for="-traits-aggravated">Aggravated</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-prevent" value="prevent">
                  <label for="-traits-prevent">Prevent</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-press" value="press">
                  <label for="-traits-press">Press</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-enter combat" value="enter combat">
                  <label for="-traits-enter combat">Enter combat</label>
                  </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-unlock" value="unlock">
                  <label for="-traits-unlock">Unlock</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-black hand" value="black hand">
                  <label for="-traits-black hand">Black Hand</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-seraph" value="seraph">
                  <label for="-traits-seraph">Seraph</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-infernal" value="infernal">
                  <label for="-traits-infernal">Infernal</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-red list" value="red list">
                  <label for="-traits-red list">Red List</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-flight" value="flight">
                  <label for="-traits-flight">Flight</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-advancement" value="advancement">
                  <label for="-traits-advancement">Advancement</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-banned" value="banned">
                  <label for="-traits-banned">Banned</label>
                </div>
                <div class="flex items-center space-x-1.5 ">
                  <input name="traits" type="checkbox" class="form-checkbox" id="-traits-non-twd" value="non-twd">
                  <label for="-traits-non-twd">Not in TWD</label>
                </div>
              </div>
            </div>
          </div>



          <div class="space-y-1">
            <div class="flex items-center">
              <div class="flex w-1/4 items-center justify-between">
                <div class="font-bold text-fgSecondary dark:text-fgSecondaryDark">Set:</div>
              </div>
              <div class="w-3/4">
                <div class=" css-b62m3t-container"><span id="react-select-10-live-region"
                    class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                    aria-relevant="additions text" role="log" class="css-7pg0cj-a11yText"></span>
                  <div
                    class="rounded border bg-bgPrimary dark:bg-bgPrimaryDark border-borderSecondary dark:border-borderSecondaryDark css-cp01gg-control">
                    <div
                      class="px-2 min-h-[40px] text-fgPrimary dark:text-fgPrimaryDark bg-bgPrimary dark:bg-bgPrimaryDark rounded css-14oxtc6">
                      <div class=" css-w54w9q-singleValue">
                        <div class="flex items-center">
                          <div class="flex w-[40px]"></div>ANY
                        </div>
                      </div><input id="react-select-10-input" tabindex="0" inputmode="none" aria-autocomplete="list"
                        aria-expanded="false" aria-haspopup="true" role="combobox" aria-activedescendant=""
                        aria-readonly="true" class="css-1hac4vs-dummyInput" value="">
                    </div>
                    <div class="rounded
                                  py-1.5 css-1wy0on6"><span
                        class="bg-borderSecondary dark:bg-borderSecondaryDark css-j4w2j1-indicatorSeparator"></span>
                      <div class="px-2 text-borderSecondary dark:text-borderSecondaryDark css-g56vrd-indicatorContainer"
                        aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                          focusable="false" class="css-8mmkcg">
                          <path
                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                          </path>
                        </svg></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space-y-2">
              <div class="flex items-center justify-end space-x-4">
                <div class="flex items-center space-x-1.5 text-sm"><input name="set" type="checkbox"
                    class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                    id="-set-or-newer" value="or-newer"><label for="-set-or-newer">Or Newer</label></div>
                <div class="flex items-center space-x-1.5 text-sm"><input name="set" type="checkbox"
                    class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                    id="-set-or-older" value="or-older"><label for="-set-or-older">Or Older</label></div>
                <div class="flex items-center space-x-1.5 text-sm"><input name="set" type="checkbox"
                    class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                    id="-set-not-newer" value="not-newer"><label for="-set-not-newer">Not Newer</label></div>
                <div class="flex items-center space-x-1.5 text-sm"><input name="set" type="checkbox"
                    class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                    id="-set-not-older" value="not-older"><label for="-set-not-older">Not Older</label></div>
              </div>
              <div class="flex items-center justify-end space-x-4">
                <div class="flex items-center space-x-1.5 text-sm"><input name="set" type="checkbox"
                    class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                    id="-set-only" value="only"><label for="-set-only">Only In</label></div>
                <div class="flex items-center space-x-1.5 text-sm"><input name="set" type="checkbox"
                    class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                    id="-set-first" value="first"><label for="-set-first">First Print</label></div>
                <div class="flex items-center space-x-1.5 text-sm"><input name="set" type="checkbox"
                    class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                    id="-set-reprint" value="reprint"><label for="-set-reprint">Reprint</label></div>
              </div>
            </div>
          </div>
          <div class="space-y-1">
            <div class="flex items-center">
              <div class="flex w-1/4 items-center justify-between">
                <div class="font-bold text-fgSecondary dark:text-fgSecondaryDark">Precon:</div>
              </div>
              <div class="w-3/4">
                <div class=" css-b62m3t-container"><span id="react-select-11-live-region"
                    class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                    aria-relevant="additions text" role="log" class="css-7pg0cj-a11yText"></span>
                  <div
                    class="rounded border bg-bgPrimary dark:bg-bgPrimaryDark border-borderSecondary dark:border-borderSecondaryDark css-cp01gg-control">
                    <div
                      class="px-2 min-h-[40px] text-fgPrimary dark:text-fgPrimaryDark bg-bgPrimary dark:bg-bgPrimaryDark rounded css-14oxtc6">
                      <div class=" css-w54w9q-singleValue">
                        <div class="flex items-center">
                          <div class="flex w-[40px]"></div>ANY
                        </div>
                      </div><input id="react-select-11-input" tabindex="0" inputmode="none" aria-autocomplete="list"
                        aria-expanded="false" aria-haspopup="true" role="combobox" aria-activedescendant=""
                        aria-readonly="true" class="css-1hac4vs-dummyInput" value="">
                    </div>
                    <div class="rounded
                                  py-1.5 css-1wy0on6"><span
                        class="bg-borderSecondary dark:bg-borderSecondaryDark css-j4w2j1-indicatorSeparator"></span>
                      <div class="px-2 text-borderSecondary dark:text-borderSecondaryDark css-g56vrd-indicatorContainer"
                        aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                          focusable="false" class="css-8mmkcg">
                          <path
                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                          </path>
                        </svg></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-end space-x-4">
              <div class="flex items-center space-x-1.5 text-sm"><input name="precon" type="checkbox"
                  class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                  id="-precon-only" value="only"><label for="-precon-only">Only In</label></div>
              <div class="flex items-center space-x-1.5 text-sm"><input name="precon" type="checkbox"
                  class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                  id="-precon-first" value="first"><label for="-precon-first">First Print</label></div>
              <div class="flex items-center space-x-1.5 text-sm"><input name="precon" type="checkbox"
                  class="form-checkbox h-[16px] w-[16px] rounded border-borderPrimary bg-white checked:bg-bgCheckboxSelected dark:border-none dark:bg-whiteDark checked:dark:bg-bgCheckboxSelectedDark"
                  id="-precon-reprint" value="reprint"><label for="-precon-reprint">Reprint</label></div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="w-1/4">
              <div class="font-bold text-fgSecondary dark:text-fgSecondaryDark">Artist:</div>
            </div>
            <div class="w-3/4">
              <div class=" css-b62m3t-container"><span id="react-select-12-live-region"
                  class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                  aria-relevant="additions text" role="log" class="css-7pg0cj-a11yText"></span>
                <div
                  class="rounded border bg-bgPrimary dark:bg-bgPrimaryDark border-borderSecondary dark:border-borderSecondaryDark css-cp01gg-control">
                  <div
                    class="px-2 min-h-[40px] text-fgPrimary dark:text-fgPrimaryDark bg-bgPrimary dark:bg-bgPrimaryDark rounded css-14oxtc6">
                    <div class=" css-w54w9q-singleValue">
                      <div class="flex items-center">
                        <div class="flex w-[40px]"></div>ANY
                      </div>
                    </div>
                    <div class=" css-n9qnu9" data-value=""><input class=""
                        style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;"
                        autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-12-input"
                        spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" aria-expanded="false"
                        aria-haspopup="true" role="combobox" aria-activedescendant="" value=""></div>
                  </div>
                  <div class="rounded
                                  py-1.5 css-1wy0on6"><span
                      class="bg-borderSecondary dark:bg-borderSecondaryDark css-j4w2j1-indicatorSeparator"></span>
                    <div class="px-2 text-borderSecondary dark:text-borderSecondaryDark css-g56vrd-indicatorContainer"
                      aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                        focusable="false" class="css-8mmkcg">
                        <path
                          d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                        </path>
                      </svg></div>
                  </div>
                </div><input name="artist" type="hidden" value="any">
              </div>
            </div>
          </div>
          <div
            class="z-60 fixed right-[15px] h-[48px] w-[48px] items-center justify-center rounded-[25px] text-white sm:right-[25px] bottom-[115px] sm:bottom-[85px] bg-bgRed dark:bg-bgRedDark opacity-80 ">
            <div class="flex h-full w-full items-center justify-center"><svg xmlns="http://www.w3.org/2000/svg"
                width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                </path>
              </svg></div>
          </div>
          <div
            class="z-60 fixed right-[15px] h-[48px] w-[48px] items-center justify-center rounded-[25px] text-white sm:right-[25px] bottom-[55px] sm:bottom-[25px] bg-bgGreen dark:bg-bgGreenDark opacity-80 ">
            <div class="flex h-full w-full items-center justify-center"><svg xmlns="http://www.w3.org/2000/svg"
                width="35" height="35" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path
                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z">
                </path>
              </svg></div>
          </div>
        </div>


        <!-- <h5>Paginas Amigas</h5>
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item"><a class="nav-link" target="_blank"
                                href="https://vdb.im/decks/2080511d5c0c42358d4193a6a5dc869f">VDB</a></li>
                        <li class="nav-item"><a class="nav-link" target="_blank"
                                href="https://www.blackchantry.com/vampire-the-eternal-struggle-fifth-edition/">Black
                                Chantry</a></li>
                        <li class="nav-item"><a class="nav-link" target="_blank"
                                href="https://www.gamepod.es/">Gamepod</a></li>
                        <li class="nav-item"><a class="nav-link" target="_blank"
                                href="https://getbootstrap.com/">Bootstrap</a></li>
                    </ul> -->



      </div>
    </div>
  </div>
</nav>
