nav{
  position: fixed;
  right: 0;
  top:50px;
}

.disciplines{
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
}
.powers{
  display: flex;
  flex-wrap: wrap;
}

img{
  height: 38px;
}

.img-opacidad {
  opacity: 0.5;
}
