<app-filtro-crypt></app-filtro-crypt>

<div class="container">
  <form class="row filtro-header" role="search">
    <div class="col-md-4">
      <label for="marca" class="form-label">Search:</label>
      <input
        name="filter"
        [(ngModel)]="searchName"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </div>

    <div class="col-4 group">
      <label for="marca" class="form-label">Group:</label>
      <select name="group" id="group" class="form-select" [(ngModel)]="searchGroup">
        <option value="*">All Groups</option>
        <option value="1">Grupo 1</option>
        <option value="2">Grupo 2</option>
        <option value="3">Grupo 3</option>
        <option value="4">Grupo 4</option>
        <option value="5">Grupo 5</option>
        <option value="6">Grupo 6</option>
        <option value="7">Grupo 7</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="marca" class="form-label">Clan:</label>
      <select name="clan" id="clan" class="form-select" [(ngModel)]="searchClan">
        <option value="" *ngFor="let clan of clans">{{clan}}</option>
      </select>
    </div>
  </form>
  <br />

  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th>Nombre</th>
        <th>Clan</th>
        <th>Capacidad</th>
        <th>Disciplinas</th>
        <th>Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards |
      filter:['Vampire', 'Imbued']:false |
      filterByName:searchName |
      filterByGroup:searchGroup |
      filterByClan:searchClan
      ; let i=index"
        (mouseenter)="setUrlImage(card.url)"
        (mouseleave)="clearUrlImage()"
        (click)="openModal(card)"
        [class.table-light] = "i % 2 === 0"
        [class.table-secondary] = "i % 2 !== 0"
      >
        <td style="cursor: pointer">{{card._name}}</td>
        <td>{{card.clans}}</td>
        <td>{{card.capacity}}</td>
        <td>{{card.disciplines}}</td>
        <td>{{card.group}}</td>
      </tr>
    </tbody>
  </table>

  <div class="imagenDestacada" *ngIf="url">
    <img [src]="url" alt="Imagen destacada" />
  </div>
</div>
