<div class="container">
  <div>
    <div class="custom-card">
      <div class="image-fondo">
        <img src="" alt="" />
      </div>
      <h2 class="card-name">Nombre Vampiro</h2>
      <div class="icono-clan"></div>
      <img
        src="../../../../assets/img/icons-vtes/logo/logo-negro.png"
        alt=""
        class="icono-logo"
      />
      <div class="icono-capacidad">
        <p class="texto-capacidad">0</p>
      </div>
      <div class="iconos-disciplina1"></div>
      <div class="iconos-disciplina2"></div>
      <div class="iconos-disciplina3"></div>
      <div class="iconos-disciplina4"></div>
      <div class="iconos-disciplina5"></div>
      <div class="iconos-disciplina6"></div>
      <div class="iconos-disciplina7"></div>
      <div class="icono-blood">
        <img src="" alt="" />
      </div>
      <p class="texto-carta">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum eligendi
        doloremque labore culpa illo ipsum praesentium recusandae itaque? Quis quo
        dignissimos enim? Deleniti suscipit, sit a ea veritatis aspernatur facere.
      </p>
    </div>
  </div>

  <div class="spacio"></div>

  <div class="formulario">
      <form>
        <div class="mb-3">
          <input placeholder="Nombre" type="text" class="form-control" id="nombre" name="nombre">
        </div>

        <div class="mb-3">
          <input placeholder="Coste del Vampiro" min="1" max="11" type="number" class="form-control" id="coste" name="coste">
        </div>

        <div class="mb-3">
          <input placeholder="Imagen Principal" type="text" class="form-control" id="imagen" name="imagen">
        </div>

        <div class="mb-3">
          <textarea placeholder="Descripción" class="form-control" id="description" name="description"></textarea>
        </div>

        <div class="mb-3">
          <label for="clan" class="form-label">Clan</label>
          <select class="form-select" id="clan" name="clan">
            <option value="clan1">Clan 1</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="disciplinas" class="form-label">Disciplinas</label>
          <select multiple class="form-select" id="disciplinas" name="disciplinas">
            <!-- Aquí puedes incluir opciones específicas de las disciplinas -->
            <option value="disciplina1">Disciplina 1</option>
            <option value="disciplina2">Disciplina 2</option>
            <!-- Agrega más opciones según tus necesidades -->
          </select>
        </div>

        <div class="mb-3">
          <input placeholder="Grupo" type="number" class="form-control" id="grupo" name="grupo">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
</div>
