<div class="container">
  <div>
    <div class="custom-card">
      <div class="image-fondo">
        <img src="" alt="">
      </div>
      <h2 class="card-name">Nombre Vampiro</h2>
      <div class="icono-clan"></div>
      <img src="../../../../assets/img/icons-vtes/logo/logo-negro.png" alt="" class="icono-logo">
      <div class="icono-capacidad">
        <p class="texto-capacidad">0</p>
      </div>
      <div class="iconos-disciplina1"></div>
      <div class="iconos-disciplina2"></div>
      <div class="iconos-disciplina3"></div>
      <div class="iconos-disciplina4"></div>
      <div class="iconos-disciplina5"></div>
      <div class="iconos-disciplina6"></div>
      <div class="iconos-disciplina7"></div>
      <div class="icono-blood">
        <img src="" alt="">
      </div>
      <div class="texto-carta">
        <p></p>
      </div>
    </div>
    <p class="text-area">
      Texto de pueba aqui
    </p>
  </div>

  <div class="spacio">

  </div>

  <div class="formulario">
    <form action="">
      <input type="text" name="name" id="name" placeholder="Nombre">
    </form>
  </div>

</div>
