<div class="container">
  <div class="deck-container">

    <div class="row">
      <div class="col-md-6">
        <input class="form-control" placeholder="Title" type="text" id="title" value="" >
      </div>

      <div class="col-md-6">
        <input class="form-control" placeholder="Author" type="text" id="author" value="">
      </div>

      <div class="col-md-6">
        <br>
        <input class="form-control" placeholder="Description" type="text" id="description" value="">
      </div>

      <div class="col-md-6">
        <br>
        <select class="form-select" value="category" name="category" id="category">
          <option value="Ally">Ally</option>
          <option value="Bleed">Bleed</option>
          <option value="Combat">Combat</option>
          <option value="Toolbox">Toolbox</option>
          <option value="Wall">Wall</option>
          <option value="Vote">Vote</option>
        </select>
      </div>
    </div>
  </div>

  <div class="deck-body">
    <div class="row">
      <div class="col-md-4 crypt">
        <h1>Crypt</h1>
        <span class="btn btn-dark">+</span>
      </div>

      <div class="col-md-5 library">
        <h1>Library</h1>
        <span class="btn btn-dark">+</span>
      </div>

      <div class="col-md-3 botones">
        <button class="btn btn-primary">Save</button><br>
        <button class="btn btn-primary">Print</button><br>
        <button class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>
