.container{
    width: auto;
    margin: 1em;
    padding: 1em;
}

.info-details{
    padding: 1em;
    font-size: large;
    width: auto;
    margin-right: 200px;
}

.image{
  float: right;
}

.underline{
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .info-details{
    font-size: medium;
  }
}
