<div class="container">
    <div>
        <div class="image">
            <!-- <img src="../../../assets/img/plantilla.png" alt=""> -->
            <img src="{{data.card.url}}" alt="">
        </div>
        <div class="info-details">
            <h2>Nombre: {{data.card.name }}</h2>
            <h2>Coste: {{data.card.capacity }}</h2>
            <h2>Clan: {{data.card.clans }}</h2>
            <h2>Disciplinas: {{data.card.disciplines }}</h2>
            <br>
            <p class="underline">Desciption:</p>
            <p>{{data.card.card_text }}</p>
        </div>
    </div>
</div>
