<app-filtro-library></app-filtro-library>

<div class="container">

  <form class="row filtro-header" role="search">
    <div class="col-md-4">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-md-4">
      <select name="" id="" class="form-select">
        <option value="">Search Type</option>
      </select>
    </div>
    <div class="col-md-4">
      <select name="" id="" class="form-select">
        <option value="">Search Clan</option>
      </select>
    </div>
  </form>
  <br>

  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Tipo</th>
        <th>Coste</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards$ | async; let i = index"
        (mouseenter)="setUrlImage(card.url)"
        (mouseleave)="clearUrlImage()"
        (click)="openModal(card)"
        [class.table-light] = "i % 2 === 0"
        [class.table-secondary] = "i % 2 !== 0"
      >
        <td class="imageFloat" style="cursor: pointer">{{card._name}}</td>
        <td></td>
        <td>{{card.types}}</td>
        <td>{{card.blood_cost}} {{card.pool_cost}}</td>
      </tr>
    </tbody>
  </table>

   <div class="imagenDestacada" *ngIf="url">
    <img [src]="url" alt="Imagen destacada" />
  </div>
</div>
