<!-- <div class="header">

</div> -->
<div class="px-3 py-2 text-bg-dark border-bottom header">
  <div class="container-logo">
    <img class="logo" src="../../../../assets/img/icons-vtes/logo/logo-blanco.png" alt="" />
    <a class="navbar-brand" href="#">Vtes Forever</a>
  </div>
  <div class="container">
    <!-- <img src="../../../../assets/img/icons-vtes/logo/logo-blanco.png" alt="" class="logo"> -->

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="/main/inicio" class="nav-link text-secondary">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#home" />
            </svg>
            Home
          </a>
        </li>
        <li>
          <a href="/main/biblioteca" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#speedometer2" />
            </svg>
            Library
          </a>
        </li>
        <li>
          <a href="/main/cripta" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#table" />
            </svg>
            Crypt
          </a>
        </li>
        <!-- <li>
                      <a href="/main/visor" class="nav-link text-white">
                          <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                              <use xlink:href="#grid" />
                          </svg>
                          Visor
                      </a>
                  </li> -->
        <li>
          <a href="/main/custom" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#people-circle" />
            </svg>
            Custom Cards
          </a>
        </li>
        <li>
          <a href="/main/events" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#people-circle" />
            </svg>
            Events
          </a>
        </li>
        <li>
          <a href="/main/pruebas" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#people-circle" />
            </svg>
            Pruebas
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
