.container{
    max-width: 700px;
    padding: 3em;
    img{
      margin: auto;
      display: block;
      padding: 1em 0;
    }
    form{
      position: relative;
      padding: 1em;
      border: 2px solid #212529;
      border-radius: 8px;
      box-shadow:  5px 0px 18px 0 rgb(68, 2, 2);
      background-color: rgb(224, 220, 216);

      img{
        position: absolute;
        top: 1em;
        right: 3em;
      }
    }
  }

  form div{
    margin-top: 1em;
  }

  .portada{
    // background-image: url('');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    margin: 1.5em 0;
  }

  p{
    padding: 0;
    margin: 0;
  }

  .pie{
    display: flex;
    flex-wrap: wrap;
    p{
      padding-left: 2em;
    }
  }
