.container{
  width: 35%;
  padding: 3em;
  img{
    margin: auto;
    display: block;
  }
  form{
    padding: 1em;
    border: 2px solid #212529;
    border-radius: 8px;
    box-shadow:  5px 0px 18px 0 rgb(68, 2, 2);
  }
}
