<app-filtro-library></app-filtro-library>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Tipo</th>
        <th>Coste</th>
        <th>Ver más</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards$ | async"
        (mouseenter)="setUrlImage(card.url)"
        (mouseleave)="clearUrlImage()"
      >
        <td class="imageFloat" style="cursor: pointer">{{card._name}}</td>
        <td></td>
        <td>{{card.types}}</td>
        <td>{{card.blood_cost}} {{card.pool_cost}}</td>
        <td><a href="#">Info</a></td>
      </tr>
    </tbody>
  </table>

   <div class="imagenDestacada" *ngIf="url">
    <img [src]="url" alt="Imagen destacada" />
  </div>
</div>
