.gallery{
    img{
        min-height: 150px;
        max-height: 300px;
        width: auto;
    }
}

h1{
    font-weight: bold;
}

h4{
    text-decoration: underline;
    padding: 0;
    margin: 1em 0 0 0;
}