<div class="container">
  <h1 class="text-center my-4">Image Gallery</h1>
  <div class="row gallery">
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (1).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (2).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (10).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (4).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (5).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (6).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (7).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (8).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (42).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (35).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (37).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (29).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (22).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (25).png" class="img-fluid">
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/image (35).png" class="img-fluid">
    </div>
  </div>
</div>
