<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Coste</th>
        <th>Tipo</th>
        <th>Ver más</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alice</td>
        <td>10</td>
        <td>11</td>
        <td><a href="#">Info</a></td>
      </tr>
      <tr>
        <td>Bob</td>
        <td>4</td>
        <td>3</td>
        <td><a href="#">Info</a></td>
      </tr>
      <tr>
        <td>Charlie</td>
        <td>7</td>
        <td>9</td>
        <td><a href="#">Info</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Totals</td>
        <td>21</td>
        <td>23</td>
        <td><a href="#">Info</a></td>
      </tr>
    </tfoot>
  </table>
</div>

