.inicio{
  text-align: center;
  background-color: orange;
}

img{
  max-height: 500px;
  width: auto;
}

.container{
  border-bottom: 1px solid rgb(71, 71, 71);
}

// .portada{
//   background-image: url('../../../../assets/img/portada.png');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
